body {
  margin: 0;
}

.app-header {
  height: 10rem;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.fo-kep {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.kepek {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.kepek i {
  font-size: 2rem;
  cursor: pointer;
}

.mini-kepek {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.mini-kepek .kep {
  max-height: 150px !important;
  min-height: 150px !important;
  max-width: 100px;
  overflow: hidden;
}
.mini-kepek .kep:hover {
  background-color: rgb(243, 243, 243);
}
.mini-kepek .kep-img {
  max-width: 100px;
}
@media screen and (max-width: 400px) {
  .konyvek {
    grid-template-columns: auto;
  }
}

footer {
  margin-top: 2rem;
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}